metadata_dir = "{{ cluster.metadata_dir }}"
data_dir     = "{{ cluster.data_dir }}"
db_engine    = "lmdb"

replication_factor = {{ cluster.replication_factor }}
consistency_mode   = "consistent"

rpc_bind_addr   = "[::]:{{ cluster.rpc_port }}"
rpc_public_addr = "{{ rpc_public_addr }}:{{ cluster.rpc_port }}"
rpc_secret      = "{{ rpc_secret }}"

bootstrap_peers = [
{%- for peer in bootstrap_peers %}
	"{{ peer }}",
{%- endfor %}
]

[s3_api]
s3_region     = "{{ cluster.region }}"
api_bind_addr = "[::]:{{ cluster.s3_port }}"
root_domain   = ".s3.{{ cluster.region }}.{{ cluster.base_domain }}"

[s3_web]
bind_addr   = "[::]:{{ cluster.web_port }}"
root_domain = ".web.{{ cluster.region }}.{{ cluster.base_domain }}"
index       = "index.html"

[k2v_api]
api_bind_addr = "[::]:{{ cluster.k2v_port }}"

[admin]
api_bind_addr = "[::]:{{ cluster.admin_port }}"
admin_token   = "{{ admin_token }}"
metrics_token = "{{ metrics_token }}"
